@import "./../../global.scss";

$height-nav: 80px;

.topbar {
  display: flex;
  justify-content: center;
  height: $height-nav;
  box-shadow: 1px 1px 10px -1px #666;

  &__logo {
    flex: 21%;
    padding: 15px 0;
    height: $height-nav;
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
    &__image {
      height: 100%;
      padding: 0 5px;
      img {
        max-height: 100%;
        object-fit: contain;
      }
    }
    &__text {
      font-size: xx-large;
      color: $color-main;
      .light {
        font-weight: 500;
      }
      .dark {
        font-weight: 700;
      }
    }
  }
  &__full {
    flex: 79%;
    width: 100%;
    background-color: $color-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    &__left {
      > .heading {
        color: $color-white;
        font-size: large;
        font-weight: 500;
      }
    }

    &__right {
      display: flex;
      .search {
        display: flex;

        &__input {
          input {
            all: unset;
            background-color: $color-white;
            padding: 10px;
            border-radius: 7px 0 0 7px;
            color: $color-text;
          }
        }
        &__button {
          button {
            all: unset;
            cursor: pointer;
            background-color: $color-white;
            padding: 10px;
            color: $color-main;
            border-radius: 0 7px 7px 0;
          }
        }
      }

      > .user {
        padding: 0 1rem;
        display: flex;
        div {
          height: 40px;
          width: 40px;
          background-color: $color-white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          margin-left: auto;
          color: $color-main;
        }
      }
    }
  }
}
